/* General Styling */

html {
   
    background-color: black;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}


/* Nav Bar Styling */

.navbar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    padding-right: 
    
}

.nav-bar-ul {
    display: inline-flex;
    list-style: none;
    text-decoration: underline;
    padding-right: 50px;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.nav-bar-object {
    margin-left: 25px;
}

/* ---------Main Section--------- */

/* -----Our Mission----- */

#our-mission {
    display: flex;
    background-image: url(./images/img-mission-background.jpeg);
    background-repeat: no-repeat;
    height: 700px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}

#text-field-our-mission {
    display: flex;
    flex-flow: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.section-container {
    margin: 40px 40px;
}

/* -----Tea of The Month----- */

#tea-of-the-month {

    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#tea-of-the-month img {

    height: 200px;
    width: 300px;
}

.tea-month-header {

    display: flex;
    flex-flow: column;
    align-items: center;
}

.section-container-totm {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.section-container-totm h4 {
    text-align: center;

}

.second-section-div {
    margin-right: 20px;
}

/* -----Locations----- */